<section class="extended stack-3-vertical home-section">
  <div class="stack-3-vertical__container">
    <div class="row">
      <h1 class="text-highlight heading1">
        <%= decidim_sanitize translated_title %>
      </h1>
    </div>
    <div class="row">
      <% 1.upto(3) do |x| %>
        <div class="column large-3">
            <%= image_tag image(x) %>
            <%= translated_tag_link(x) %>
            <%= decidim_sanitize translated_body(x) %>
            <%= translated_link(x) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
