<section class="extended tiles-4 home-section">
  <div class="tiles-4__container">
    <div class="row">
      <h1 class="text-highlight heading1">
        <%= decidim_sanitize translated_title %>
      </h1>
    </div>
    <div class="row">
      <div class="tiles">
        <% 1.upto(4) do |x| %>
          <div class="tile-<%= x %>" style="background-image:url(<%= background_image(x) %>);">
            <h2><%= decidim_sanitize translated_title(x) %></h2>
            <div><%= decidim_sanitize translated_body(x) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
