<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.translated :text_field, :title, label: t(".title") %>
  <div class="grid-x">
    <% 1.upto(3) do |x| %>
      <div class="large-4 p-xs">
        <%= settings_fields.translated :text_area, :"body_#{x}", rows: 3, label: t(".body_n", n: x) %>
        <%= settings_fields.translated :text_field, :"link_text_#{x}", label: t(".link_text_n", n: x) %>
        <%= settings_fields.translated :text_field, :"link_url_#{x}", label: t(".link_url_n", n: x) %>
        <%= settings_fields.translated :text_field, :"tag_text_#{x}", label: t(".tag_text_n", n: x) %>
        <%= settings_fields.translated :text_field, :"tag_url_#{x}", label: t(".tag_url_n", n: x) %>
      </div>
    <% end %>
  </div>
<% end %>

<% form.fields_for :images, form.object.images do |images_fields| %>
  <div class="grid-x">
    <% 1.upto(3) do |x| %>
      <div class="large-4 p-xs">
        <%= images_fields.upload :"image_#{x}", label: t(".image_n", n: x) %>
      </div>
    <% end %>
  </div>
<% end %>
