<section id="<%= id_type %>" class="alternative-landing cover-full" style="background-image:url(<%= background_image %>);">
  <div class="cover-text">
    <h1 class="cover-title heading1 h1">
      <%= decidim_sanitize translated_title %>
    </h1>
    <div class="cover-body">
      <%== translated_body %>
    </div>
  </div>
</section>
<style media="all">
  .cover-full,
  .navbar {
    <%= css %>
  }
</style>
