<section class="content-block participatory-space-group__content-block extra-title">
  <h2 class="h2 decorator"><%= translated_attribute(participatory_process_group.title) %></h2>

  <div class="editor-content content-block__description">
    <%= decidim_sanitize_editor_admin translated_attribute(participatory_process_group.description) %>
  </div>

  <div class="participatory-space-group__content-block-metadata">
    <span>
      <%= icon "grid-line", role: "img", class: "fill-gray w-4 h-4" %>
      <%= t("decidim.participatory_process_groups.content_blocks.title.participatory_processes", count: participatory_processes_count) %>
    </span>
    <% if has_meta_scope? %>
      <span>
        <%= icon "globe-line", class: "fill-gray w-4 h-4" %>
        <strong><%= t("decidim.participatory_process_groups.content_blocks.title.meta_scope") %></strong>
        <%= translated_attribute(meta_scope) %>
      </span>
    <% end %>
  </div>

  <div class="participatory-space-group__content-block-metadata">
    <% if has_group_url? %>
      <span>
        <%= icon "external-link-line", class: "fill-gray w-4 h-4" %>
        <%= link_to(group_url_text, group_url, target: "_blank") %>
      </span>
    <% end %>
    <span class="links-list">
      <% links.each do |link| %>
        <span class="link">
          <%= link %>
        </span>
      <% end %>
    </span>
  </div>

</section>
